<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>746620498651-ih5gq8spa6a33i8pd19k2ni3h72cpdav.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.746620498651-ih5gq8spa6a33i8pd19k2ni3h72cpdav</string>
	<key>API_KEY</key>
	<string>AIzaSyBas4BsPA5gQyoBgiXu0_vH8BUyrBiVd2w</string>
	<key>GCM_SENDER_ID</key>
	<string>746620498651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>spotify-music-quiz-mida-2022</string>
	<key>PROJECT_ID</key>
	<string>spotifymusicquiz-b067d</string>
	<key>STORAGE_BUCKET</key>
	<string>spotifymusicquiz-b067d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746620498651:ios:69c46aa2cc822abc5b12fe</string>
</dict>
</plist>